// need to override just one or two small stylistic things and don't want to edit the main .scss files?  Add those overrides here
.tab-content {
    border: 2px solid #0d6d9dee;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;
    border-radius: 1.5px 1.5px 5px 5px ;
    margin: 0.5px 0.2px 0 0.2px ;
    // border-right: 1px solid ;
    // border-bottom: 1px solid;
    padding: 10px;
    padding-bottom: 20px;
}

.btn-success.btn-outline-dark.disabled{
    border-color: #2e2e2e;
    background-color: #85cdae;
}

label[for="status-button"]{
    padding-top: 0.35ch !important;
}
.b-table-sticky-header{
    max-height: 62.3vh;
}

.page-item>button.page-link{
    &:not([aria-checked="true"]){
        &:not(:hover){
            background-color: white !important;
            color: black;
        }
    }
    &:not(:hover){
        background-color: #0d6d9d8f !important;
        color: white;
    }
    &:hover{
        background-color: #0d6d9d !important;
        color: white;
    }
  }

  .page-item.disabled>span.page-link{
    // border-width: 2px !important;
    // border-color: #eeeeee !important;  
    // background-color: #eeeeeed7 !important;
    color: black;
  }

  div.custom-file.b-form-file>label.custom-file-label{
    border-radius: 0px !important;
    border-left-color: black;
    font-size: 16px;
    color: #495057da;
  }

  div.custom-file.b-form-file{
      margin-top: -5px !important;
  }